.container {
  text-align: center;
  background-color: transparent;
  margin-block-start: 0;
  margin-block-end: 0;
  width: 100vw;
  min-height: 90vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  text-shadow: black 0 0 15px;
}

.container a {
  font-size: 1.4rem;
}
